/* UX_UI_HW_17 */
body {
    background: #1f1f1f;
}
.inline-block {
    display: inline-block;
    vertical-align: top;
}
.logo {
    width: 50px;
    padding: 1%;
}
.logo img {
    width: 100%;
    /* color: white; */
}
.navigation {
    width: 100%;
    padding: 1%;
    background-color:#1f1f1f;
    text-align: right;
}
.navigation li {
    padding: 10px;
}
ul {
    color: white;
    width: 50%;
    margin-left: auto;
    display: inline-block; 
    vertical-align: top;
}
.heroimg {
    padding: 25px;
}
.content {
    color: white;
}
.content img {
    width: 250px;
    margin: 0 auto;
}
footer {
    background-color: #1f1f1f;
    text-align: center;
}
footer li {
    padding: 10px;
}








/* UX_UI_HW_18 */
.flexContainer {
    display: flex;
    width: 33%;
    margin: 50px;
    padding: 50px;
}

.flexContainer img {
    width: 50px;
    height: 50px;
}
.proj1 {
    grid-area: proj1;
}
.proj2 {
    grid-area: proj2;
}
.proj3 {
    grid-area: proj3;
}
.workGrid {
    display: grid;
    grid-template-rows: 300px 300px 300px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "proj1 proj2 proj3";
}

@media only screen and (max-width: 600px){
    .flexContainer {
        display: column;
        width: 100%; /* ??????? */
    }
    .workGrid {
        /* From Unit 18 HW Instructions */
        margin: 0px 5%;
        display: grid;
        grid-template-rows: 300px 300px 300px 300px 300px;
        grid-template-columns: 1fr;
        grid-template-areas: "proj1 proj2 proj3";
    }
}